# Data
data/

# Results
results_lineDistilBERT/

# Compiled bytecode
src_base/__pycache__/
src_base/line_distil_bert/__pycache__/
src_base/probing/__pycache__/

# venv
.venv/
venv/
.env/

.DS_Store

# checkpoints
checkpoints/
