# Data
data/keico_corpus(forLREC)-OldVersion.csv

# Results
results_lineDistilBERT/
results_das/

# Compiled bytecode
src_base/__pycache__/
src_base/line_distil_bert/__pycache__/
src_base/probing/__pycache__/

# venv
.venv/
venv/
.env/

.DS_Store

# checkpoints
checkpoints/

# notes
notes/